.navbar-text {
    padding-left: 0.5em;
}

.navbar-nav {
    align-items: center;
}

.btn {
    width: 120px;
    height: 37px;
    float: right; 
}

.input-group {
    justify-content: flex-end; 
}

.btn-primary {
    background-color: white !important;
    border-color: #ffc107 !important;
    color: #ffc107 !important;
    font-weight: 600 !important;
    line-height: 1.2 !important;
    font-size: 1.2rem !important;
}

.card-body {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-warning {
    color: #ffc107 !important;
    font-weight: bolder;
}

.food-items .input-group-prepend {
    height: 29px;
    width: 29px;
    background: white;
}

.food-items .input-group-text {
    height: 40px;
    width: 40px;
}

.container .text-style {
justify-content: center;
border-bottom: 2px solid #ffc107;
background: #d8d7c6;
}

.card-details-align {
    background: white;
    display: flex;
    justify-content: space-around;
}

.card-align {
    justify-content: center;
}

.align-padding {
    padding: 20px;
}

.navbar-text {
font-weight: 600;
color: black !important
}

.cart-details-align {
    display: flex;
    justify-content: space-between;
}

.order-details > .row > .card > .card-body {
    background: #ffc107;
}

.list-group-item, .list-group {
    border-bottom: 1.5px dashed gray !important;
}

.list-group-item > .btn {
    width: 160px;
    height: 37px;
}

.order-details > h4, .order-details > .row {
    display: flex;
    justify-content: center;
}

.btn-group > .btn {
background: white !important;
width: 50px !important;
padding: 0.375rem 0.35rem !important;
height: 37px !important;
border: 1px solid #ffc107!important;
}

.btn-group {
    float: right;
}
